
.pl-5 {
  padding-left: 3rem!important;
}

.imgnav {
  width: 100px;
  aspect-ratio: auto 100 / 70;
  height: 70px;
  vertical-align: middle;
  border-style: none;
}
.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
#navbarText {
  display: flex;
  justify-content: flex-end !important;
}

#nav-item {
  align-self: flex-end;
}

.text-white {
  color: #fff!important;
}
.text-right {
  text-align: right!important;
}

.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 50%;
  padding: 1%;
  background-color: rgba(0, 0, 0, 0.4);
  margin-left: 25%;
  margin-bottom: 20%;

}

.h1, h1 {
  font-size: 2.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}
*, ::after, ::before {
  box-sizing: border-box;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.card-deck .card {
  flex: 1 0 0%;
  margin-right: 15px;
  margin-bottom: 0;
  margin-left: 15px;
}

.card-img, .card-img-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}
.card-img, .card-img-bottom, .card-img-top {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
}
img {
  vertical-align: middle;
  border-style: none;
}

.card-deck {
    display: flex;
    flex-flow: row wrap;
    width: 70%;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}


.badge-warning {
    color: #212529;
    background-color: #ffc107;
}

.badge-info {
  color: #fff;
  background-color: #17a2b8;
}

.badge-secondary {
  color: #fff;
  background-color: #6c757d;
}

.badge-danger {
  color: #fff;
  background-color: #dc3545;
}

form {
  max-width: 50%;
  margin: auto;
}
.bg-success {
  background-color: #28a745!important;
}


.btn {
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.boton:hover {
  background-color: #3A7E34!important;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.boton {
  width: 100%;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.marginFooter {
  margin: 2%;
}
